
body {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: #eeeeee;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: skyblue;
}

.capty-wrapper {
    display: inline-block;
    border-radius: 8px;
}

.capty-caption div {
    font-size: 16px;
    font-family: '微軟正黑體', arial;
    text-align: center;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    float: left;
    margin-bottom: 5px;
}

.grid-item:hover .capty-caption div {
    font-size: 18px;
}
