body,
html {
    height: 100%;
}

body {
    padding: 0 0 50px 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: '微軟正黑體', 'Open Sans', sans-serif;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/hero.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

footer {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 15px;
    font-family: '微軟正黑體', 'Open Sans', sans-serif;
    background-color: #e7e8e8;
    position: relative;
    bottom: 0;
    left: 0;
}

footer p {
    padding: 3px 0;
    margin: 0;
    color: #3d353d;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: skyblue;
}

.cycler {
    position: relative;
}

.cycler img {
    position: absolute;
    z-index: 1;
}

.cycler img.active {
    z-index: 3;
}

.grid {
    background-color: white;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}

.grid-item a img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.grid-item div.caption {
    height: 25px;
    width: 100%;
    color: white;
    font: bold 11px verdana;
    text-shadow: 1px 1px 0 #222222;
    opacity: 0.6;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 0 8px 8px;
    background-color: #607d8b;
    z-index: 3;
}

.grid-item div.caption.bike {
    background-color: #2196f3;
}

.grid-item div.caption.backpack {
    background-color: #4caf50;
}

.grid-item span.label {
    width: 100%;
    font-size: 16px;
    font-family: '微軟正黑體', arial;
    position: absolute;
    left: 0;
    bottom: 3px;
    text-align: center;
    color: white;
    text-decoration: none;
    text-shadow: none;
    z-index: 3;
}

.grid-item span.year,
.grid-item span.category {
    font-family: '微軟正黑體', arial;
    position: absolute;
    color: white;
    font-size: 13px;
    bottom: 4px;
    text-decoration: none;
    text-shadow: none;
    z-index: 3;
}

.grid-item span.year {
    right: 5px;
}

.grid-item span.category {
    left: 5px;
}

.grid-item:hover div.caption {
    opacity: 1;
    background-color: #333333;
}

.grid-item:hover span.label {
    font-weight: bold;
}