
body {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: '微軟正黑體', 'Open Sans', sans-serif;
}
header h1{
    padding: 3px 0;
    margin: 0;
    color: #0a77d5;
    font-size: 28px;
    font-weight: 700;
}

header p {
    padding: 3px 0;
    margin: 0;
    color: #3d353d;
    font-style: italic;
    font-size: 16px;
}
footer {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 15px;
    font-family: '微軟正黑體', 'Open Sans', sans-serif;
    background-color: #e7e8e8;
}
footer p {
    padding: 3px 0;
    margin: 0;
    color: #3d353d;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: skyblue;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}
.grid-item a img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.grid-item div.caption {
    height: 25px;
    width: 100%;
    color: white;
    font: bold 11px verdana;
    text-shadow: 1px 1px 0 #222;
    opacity: 0.6;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 0 8px 8px;
    background-color: #607d8b;
}

.grid-item div.caption.bike {
    background-color: #2196f3;
}
.grid-item div.caption.backpack {
    background-color: #4caf50;
}

.grid-item span.label {
    width: 100%;
    font-size: 16px;
    font-family: '微軟正黑體', arial;
    position: absolute;
    left: 0;
    bottom: 3px;
    text-align: center;
    color: white;
    text-decoration: none;
    text-shadow: none;
}

.grid-item span.year, .grid-item span.category {
    font-family: '微軟正黑體', arial;
    position: absolute;
    color: white;
    font-size: 13px;
    bottom: 4px;
    text-decoration: none;
    text-shadow: none;
}
.grid-item span.year {
    right: 5px;
}
.grid-item span.category {
    left: 5px;
}

.grid-item:hover div.caption{
    opacity: 1;
    background-color: #333;
}
.grid-item:hover span.label{
    font-weight: bold;
}
